{% import "_includes/forms" as forms %}


{{ forms.autosuggestField({
required: true,
label: "API Key"|t('craft-mailomat'),
instructions: "You can find this in your Mailomat settings for the chosen domain."|t('craft-mailomat'),
id: 'apiKey',
name: 'apiKey',
suggestEnvVars: true,
value: adapter.apiKey,
errors: adapter.getErrors('apiKey')
}) }}


{% set isCampaignInstalled = craft.app.plugins.isPluginInstalled('campaign') %}
{% set isCampaignEmailSettings = craft.app.request.getSegment(1) == 'campaign'
and craft.app.request.getSegment(2) == 'settings'
and craft.app.request.getSegment(3) == 'email'
%}

{% if isCampaignInstalled and isCampaignEmailSettings %}
<div class="field">
    <div class="heading">
        <label>{{ "Craft Campaign Webhook URL"|t('craft-mailomat') }}</label>
    </div>
    <div class="input ltr">
        <code>{{ adapter.getCampaignWebhookUrl() }}</code>
    </div>
    <p class="instructions">
        {{ "Add this URL to your Mailomat webhook settings to enable bounce & complaint tracking in Craft Campaign."|t('craft-mailomat') }}
    </p>
</div>
{% else %}
<div class="field">
    <div class="heading">
        <label>{{ "Mailomat Webhook URL"|t('craft-mailomat') }}</label>
    </div>
    <div class="input ltr">
        <code>{{ adapter.getWebhookBaseUrl() }}</code>
    </div>
    <p class="instructions">
        {{ "This webhook URL can still be used for custom integrations."|t('craft-mailomat') }}
    </p>
</div>
{% endif %}